@charset "UTF-8";

*{
    font-family: 'Roboto Flex', sans-serif; /* Fonte principal */
    margin: 0;
    padding: 0;
}

/* Estilo do card da página */
.card-body {
  background-color: white;
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 150px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.411);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efeito suave */
  margin-bottom: 150px;
}

.card-body:hover{
    transform: scale(1.1); /* Aumenta levemente o tamanho do card */
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.712); /* Adiciona sombra */
}

/* Estilo para o article */
.container {
    display: flex; /* Define o layout como Flexbox */
    align-items: flex-start; /* Alinha os itens no topo */
    gap: 35px; /* Espaçamento entre a imagem e o texto */
    padding: 40px; /* Espaçamento interno do contêiner */
    margin-left: 20px;
}

/* Estilo da imagem */
.container img {
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.349);
}

/* Estilo do texto */
.game-details {
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em coluna */
    gap: 15px; /* Espaçamento entre o h1 e os pares <strong> e <p> */
    margin-top: 30px;
}

/* Estilo do título */
.game-details h1 {
    font-size: 2.5vw; /* Tamanho do título */
    letter-spacing: 3px;
    font-weight: bold;
    font-family: "Roboto Flex", sans-serif; /* Fonte principal */
    color: #000; /* Garante que o texto seja visível */
    white-space: nowrap; /* Impede quebra de linha */
}

/* Estilo dos pares <strong> e <p> */
.info {
    display: flex; /* Define o layout como Flexbox */
    align-items: flex-start;
    gap: 50px; /* Espaçamento entre o <strong> e o <p> */
}

.info strong {
    width: 150px; /* Define uma largura fixa para o <strong> */
    font-size: 1.1vw; /* Tamanho do texto */
    font-weight: bold; /* Negrito */
    color: #000; /* Cor do texto */
    white-space: nowrap; /* Impede quebra de linha no <strong> */
    margin-left: 5px;
}

.info p {
    font-size: 1vw; /* Tamanho do texto */
    color: #0067b8; /* Cor do texto */
    margin: 0; /* Remove margens padrão */
    white-space: nowrap; /* Impede quebra de linha */
}


/* Contêiner principal dos requisitos */
.requisitos {
    display: flex; /* Define o layout como Flexbox */
    justify-content: space-between; /* Espaça os blocos igualmente */
    align-items: flex-start; /* Alinha os itens no topo */
}

/* Estilo para o aside */
.requisitos-minimos{
    flex: 1;
    padding: 20px 0px 30px 70px;
}

.requisitos-recomendados{
    flex: 1;
    padding: 20px 70px 30px 0px;
}


/* Estilo para os títulos */
.requisitos-minimos h2,
.requisitos-recomendados h2 {
    font-size: 1.7vw; /* Tamanho do título */
    margin-bottom: 50px; /* Espaçamento abaixo do título */
    font-weight: 700; /* Negrito */
    color: #000;
}

/* Estilo para os parágrafos */
.requisitos-minimos strong,
.requisitos-recomendados strong{
    font-size: 1.2vw; /* Tamanho do texto */
    font-weight: 600; /* Negrito */
    color: #000000; /* Cor do texto */
}

.requisitos-minimos p,
.requisitos-recomendados p {
    font-size: 1vw; /* Tamanho do texto */
    margin-bottom: 10px; /* Espaçamento entre os parágrafos */
    line-height: 1.5; /* Espaçamento entre as linhas */
    color: #5a5a5a; /* Cor do texto */
    width: 90%;
}

/*Estilo footer*/
hr{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 90%;
}

.sinopse{
    font-size: 2vw;
    font-weight: 800;
    text-align: center;
    margin: 50px 0px 30px 0px;
    letter-spacing: 1px;
    color: #000000;
}

.explicacao{
    text-align: center;
    font-size: 1.1vw;
    width: 45%;
    margin: auto;
    padding-bottom: 80px;
    font-weight: 500;
    color: #383838;
}

/*AJUSTANDO CONTEÚDO PARA RESPONSIVIDADE*/
@media (max-width: 1100px) {
    /*Estilos article*/
    .container{
        margin: 0px;
        margin-left: 20px;
        gap: 30px;
    }

    .container img {
        width: 35%; /* Ajusta o tamanho da imagem para telas menores */
    }

    .container .game-details h1{
        font-size: 2vw; /* Tamanho do título para telas menores */
        
    }

    .info {
        display: flex; /* Define o layout como Flexbox */
        align-items: flex-start;
        gap: 25px; /* Espaçamento entre o <strong> e o <p> */
    }

    .info strong{
        font-size: 1.2vw; /* Tamanho do texto para telas menores */
    }

    .info p{
        font-size: 1vw; /* Tamanho do texto para telas menores */
    }
}


@media (max-width: 900px) {
    /*Estilo aside*/
    .container {
        flex-direction: column; /* Empilha a imagem e o texto verticalmente */
        align-items: center; /* Centraliza os itens */
        margin-left: 0px;
    }

    .container img {
        width: 40%; /* Ajusta o tamanho da imagem para telas menores */
    }

    .container .game-details h1 {
        text-align: center; /* Centraliza o título */
        font-size: 3vw; /* Tamanho do título para telas menores */
    }

    .info strong{
        margin-left: 10px;
    }

    .requisitos{
        gap: 30px; /* Espaçamento entre os blocos */
        padding-top: 20px;
        padding-left: 30px;
    }

    hr{
        margin-top: 15px;
        margin-bottom: 20px;
    }
}

@media (max-width: 850px) {
    /* Estilo para o article */
    .game-details h1 {
        font-size: 3vw; /* Tamanho do título */
    }

    .info {
        display: block;
        text-align: center;
        line-height: 2; /* Espaçamento entre as linhas */
    }

    .info strong{
        margin: 0%;
        font-size: 2vw; /* Tamanho do texto para telas menores */
    }

    .info p{
        font-size: 1.5vw; /* Tamanho do texto para telas menores */
    }

    .requisitos {
        display: flex; /* Define o layout como Flexbox */
        align-items: center; /* Alinha os itens no topo */
        flex-direction: column; /* Empilha os blocos verticalmente */
        gap: 50px; /* Espaçamento entre os blocos */
        text-align: center;
        padding-left: 0px;
    }

    /* Estilo para o aside */
    .requisitos-minimos{
        flex: 1;
        padding:  20px 0px 0px 0px;
    }

    .requisitos-recomendados{
        flex: 1;
        padding: 0px;
    }


    /* Estilo para os títulos */
    .requisitos-minimos h2,
    .requisitos-recomendados h2{
        font-size: 2.5vw; /* Tamanho do título */
    }

    /* Estilo para os parágrafos */
    .requisitos-minimos strong,
    .requisitos-recomendados strong{
        display: block; /* Garante que o <strong> seja exibido como um bloco */
        font-size: 1.9vw; /* Tamanho do texto */
    }

    .requisitos-minimos p,
    .requisitos-recomendados p{
        display: block; /* Garante que o <p> seja exibido como um bloco */
        font-size: 1.5vw; /* Tamanho do texto */
       
    }

    /*Estilo footer*/
    .sinopse{
        font-size: 2.5vw;
    }
    
    .explicacao{
        font-size: 1.4vw;
        width: 60%;
    }
}

@media (max-width: 700px) {
    /* Estilo do card da página */
    .card-body {
        width: 80%; /* Largura do card */
        margin: auto; /* Centraliza o card na página */
        margin-top: 150px; /* Espaçamento superior */
        margin-bottom: 150px; /* Espaçamento inferior */
    }

    .card-body:hover{
        transform: scale(1.05); /* Aumenta levemente o tamanho do card */
    }

    /*Article*/
    .game-details h1 {
        font-size: 3.5vw; /* Tamanho do título */
    }
}