/*Consoles*/

.consoles {
    display: flex;     
    flex-direction: column;         /* Define a exibição como flexbox */
    justify-content: flex-start; /* Alinha ao topo verticalmente */
    align-items: flex-start;         /* Centraliza verticalmente */
    height: 100vh;              /* Define a altura do contêiner como 100% da altura da viewport */
    padding: 10% 10%;
    height: auto;
}

.consoles h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-optical-sizing: auto;
    font-weight: bolder;
    letter-spacing: 15px;
    margin-bottom: 2px;  
}

.consoles h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-optical-sizing: auto;
    font-weight: lighter;
    letter-spacing: 32px;
    text-align: center; 
}

.consoles p {
    width: 350px;
    font-size: 15px;
    padding-bottom: 150px;
}

/*Primeiro container*/

.containerV {
    position: absolute;
    top: 230px; /* Define a posição do contêiner na tela */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajuste para alinhar ao centro */
    width: 250px;
    height: 250px;
    box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.411);
    border-radius: 20px;
}

.linhadata {
    width: 3px;                     /* Espessura da linha */
    height: 615%;                   /* Altura relativa à altura da viewport */
    background-color: black;
    position: absolute;             /* Para posicionamento livre */
    right: 10%;                      /* Margem direita relativa ao tamanho da tela */
    top: 25%;
}

.linhaver {
    width: 100px;
    height: 3px;
    background-color: black;
    position: absolute;
    right: 10%;
    top: 50%;
}

.data1 {
    position: absolute;
    right: 18%;
    top: 41%;
}

.data1 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    text-align: right;
    letter-spacing: 7px;
    
}

.container2 {
    position: absolute;
    top: 660px; /* Altere o valor para posicionar mais abaixo */
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.411);
    border-radius: 20px;
}

.linhaver2 {
    width: 100px;
    height: 3px;
    background-color: black;
    position: absolute;
    right: 10%;
    top: 112%;
}

.data1_2 {
    position: absolute;
    right: 18%;
    top: 103%; /* Ajuste para posicionar o texto do ano */
}

.data1_2 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    text-align: right;
    letter-spacing: 7px;
}

.container3 {
    position: absolute;
    top: 1100px; 
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.411);
    border-radius: 20px;
}

.linhaver3 {
    width: 100px;
    height: 3px;
    background-color: black;
    position: absolute;
    right: 10%;
    top: 174%;
}

.data1_3 {
    position: absolute;
    right: 18%;
    top: 165%; /* Ajuste para posicionar o texto do ano */
}

.data1_3 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    text-align: right;
    letter-spacing: 7px;
}

.container4 {
    position: absolute;
    top: 1535px; 
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.411);
    border-radius: 20px;
}

.linhaver4 {
    width: 100px;
    height: 3px;
    background-color: black;
    position: absolute;
    right: 10%;
    top: 236%;
}

.data1_4 {
    position: absolute;
    right: 18%;
    top: 227%; /* Ajuste para posicionar o texto do ano */
}

.data1_4 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    text-align: right;
    letter-spacing: 7px;
}

.container5 {
    position: absolute;
    top: 1930px; 
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.411);
    border-radius: 20px;
}

.linhaver5 {
    width: 100px;
    height: 3px;
    background-color: black;
    position: absolute;
    right: 10%;
    top: 298%;
}

.data1_5 {
    position: absolute;
    right: 18%;
    top: 289%; /* Ajuste para posicionar o texto do ano */
}

.data1_5 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    text-align: right;
    letter-spacing: 7px;
}

.consoles h1.polystation {
    letter-spacing: 4px;
}

.container6 {
    position: absolute;
    top: 2360px; 
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.411);
    border-radius: 20px;
}

.linhaver6 {
    width: 100px;
    height: 3px;
    background-color: black;
    position: absolute;
    right: 10%;
    top: 360%;
}

.data1_6 {
    position: absolute;
    right: 18%;
    top: 351%; /* Ajuste para posicionar o texto do ano */
}

.data1_6 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    text-align: right;
    letter-spacing: 7px;
}

.container7 {
    position: absolute;
    top: 2795px; 
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.411);
    border-radius: 20px;
}

.linhaver7 {
    width: 100px;
    height: 3px;
    background-color: black;
    position: absolute;
    right: 10%;
    top: 422%;
}

.data1_7 {
    position: absolute;
    right: 18%;
    top: 413%; /* Ajuste para posicionar o texto do ano */
}

.data1_7 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    text-align: right;
    letter-spacing: 7px;
}

.container8 {
    position: absolute;
    top: 3240px; 
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.411);
    border-radius: 20px;
}

.linhaver8 {
    width: 100px;
    height: 3px;
    background-color: black;
    position: absolute;
    right: 10%;
    top: 484%;
}

.data1_8 {
    position: absolute;
    right: 18%;
    top: 475%; /* Ajuste para posicionar o texto do ano */
}

.data1_8 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    text-align: right;
    letter-spacing: 7px;
}

.container9 {
    position: absolute;
    top: 3670px; 
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.411);
    border-radius: 20px;
}

.linhaver9 {
    width: 100px;
    height: 3px;
    background-color: black;
    position: absolute;
    right: 10%;
    top: 546%;
}

.data1_9 {
    position: absolute;
    right: 18%;
    top: 537%; /* Ajuste para posicionar o texto do ano */
}

.data1_9 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    text-align: right;
    letter-spacing: 7px;
}

.container10 {
    position: absolute;
    top: 4100px; 
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    box-shadow: 1px 2px 10px rgb(0, 0, 0, 0.411);
    border-radius: 20px;
}

.linhaver10 {
    width: 100px;
    height: 3px;
    background-color: black;
    position: absolute;
    right: 10%;
    top: 608%;
}

.data1_10 {
    position: absolute;
    right: 18%;
    top: 599%; /* Ajuste para posicionar o texto do ano */
}

.data1_10 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    text-align: right;
    letter-spacing: 7px;
}









