@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/* Reset Básico */
* {
    margin: 0;
    padding: 0;
}

/* Estilo do formulário de cadastro */
#cadastro{
    background-image: url(img/fundo_cadastro1.png); /* Substitua pelo caminho correto */
    background-size: cover; /* Cobre toda a tela */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Contêiner principal */
.container {
    background-color: white; /* Cor de fundo do formulário */
    border-radius: 9px;
    padding: 30px;
    max-width: 500px;
    margin-top: 100px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    color: #050505; /* Cor do texto */
    font-weight: 500;
    font-family: 'Roboto Flex', sans-serif; /* Fonte do formulário */
}

@media(min-width: 500px){
    .container {
        width: 90%; /* Largura responsiva para telas menores */
    }
}

/* Cabeçalho do formulário */
.form-header {
    text-align: center; /* Centraliza o conteúdo */
    margin-bottom: 25px;
}

.form-header-top {
    display: flex;
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: center; /* Centraliza horizontalmente */
    gap: 5px; /* Espaçamento entre a imagem e o texto */
    margin-bottom: 40px; 
}

.form-header img {
    margin-bottom: 8px;
    max-width: 45px; /* Tamanho da logo */
    height: auto;
}

.form-header h1 {
    font-size: 1.4em;
    font-family: "Roboto Flex", sans-serif; /* Fonte do título */
    font-weight: 700; /* Peso da fonte */
    color: #000000;
}

.form-header2 {
    text-align: center; /* Centraliza o texto */
    margin-bottom: 35px;
}

.form-header2 h2{
    font-family: "Roboto Flex", sans-serif; /* Fonte do subtítulo */
    font-size: 1.4em; /* Tamanho da fonte */
    font-weight: 600; /* Peso da fonte */
}

.form-header2 p{
    font-family: "Roboto Flex", sans-serif; /* Fonte do subtítulo */
    font-size: 0.9em; /* Tamanho da fonte */
    font-weight: lighter; /* Peso da fonte */
    color: #1f1e1e;
}

input::placeholder, textarea::placeholder {
    color: #1f1e1e; /* Placeholder com cor suave */
}

.btn {
    border-radius: 10px;
}

/* Botões de ação */
.form-actions {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}